.DS_store
.idea
**/*.npy
.conda-env

pyrightconfig.json

plots*
/make_*.py
/debug*.py
Archive
*.mp4
*.png
*.pdf
__pycache__
*.egg-info
*sim_data*
tmp*
paths.json
scgenerator_log*
scgenerator.log
.scgenerator_tmp
sc-*.log

.vscode
