.DS_store
.idea
**/*.npy

pyrightconfig.json

plots*
/make_*.py
/debug*.py
Archive
*.mp4
*.png
*.pdf
__pycache__
*.egg-info
*sim_data*
tmp*
paths.json
scgenerator_log*
.scgenerator_tmp
sc-*.log

.vscode


# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
